<nav class="cover-navigation navigation--social">
    <ul class="navigation">

        {% if site.social.facebook %}
        <!-- Facebook -->
        <li class="navigation__item">
            <a href="https://www.facebook.com/josephmlx" title="@{{site.social.facebook}}" target="_blank">
                <i class='social fa fa-facebook'></i>
                <span class="label">Facebook</span>
            </a>
        </li>
        {% endif %}

        {% if site.social.github %}
        <!-- Github -->
        <li class="navigation__item">
            <a href="https://github.com/{{site.social.github}}" title="@{{site.social.github}}'s Github"
               target="_blank">
                <i class='social fa fa-github'></i>
                <span class="label">Github</span>
            </a>
        </li>
        {% endif %}

        {% if site.social.twitter %}
        <!-- Twitter -->
        <li class="navigation__item">
            <a href="http://twitter.com/{{site.social.twitter}}" title="@{{site.social.twitter}}" target="_blank">
                <i class='social fa fa-twitter'></i>
                <span class="label">Twitter</span>
            </a>
        </li>
        {% endif %}

        {% if site.social.linkedin %}
        <!-- LinkedIn -->
        <li class="navigation__item">
            <a href="https://www.linkedin.com/in/menglingxu/" title="@{{site.social.linkedin}}" target="_blank">
                <i class='social fa fa-linkedin'></i>
                <span class="label">LinkedIn</span>
            </a>
        </li>
        {% endif %}

        {% if site.social.instagram %}
        <!-- Instagram -->
        <li class="navigation__item">
            <a href="http://instagram.com/{{site.social.instagram}}" title="@{{site.social.instagram}}" target="_blank">
                <i class='social fa fa-instagram'></i>
                <span class="label">Instagram</span>
            </a>
        </li>
        {% endif %}

        {% if site.social.mail %}
        <!-- Email -->
        <li class="navigation__item">
            <a href="mailto:{{site.social.mail}}" title="Contact me">
                <i class='social fa fa-envelope'></i>
                <span class="label">Email</span>
            </a>
        </li>
        {% endif %}

    </ul>

    <ul class="navigation">

        <li class="navigation__item">
            <a href="http://www.acodingdog.club" title="Friend's link">
                <i class="fab fa-linux"></i>
                <span class="label">Friend</span>
            </a>
        </li>

    </ul>
</nav>
